@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

button {
    border-radius: 8px;
    background: #E55473;
    color: #fff;
    border: none;
    font-size: 20px;
    padding: 15px 20px;
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.section-heading {
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
}

.section-heading h2 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 16px;
}

header,
#hot-deal {
    background: rgba(229, 84, 115, 0.10);
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner .banner-text * {
    margin-bottom: 32px;
    max-width: 525px;
}

.banner .banner-text h1 {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner-img img {
    width: 100%;
    vertical-align: middle;
}

#featured {
    padding: 100px 0;
}

.section-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: end;
}

.section-content .flower .flower-img {
    border-radius: 300px 300px 0px 0px;
    background: #eb9cad;
    padding: 30px 25px 0;
    height: 500px;
    display: flex;
    align-items: end;
}

.section-content .flower .flower-img img {
    width: 100%;
}

.section-content .flower .pink {
    background: rgba(167, 33, 98, 0.15);
}

.section-content .flower .blue {
    background: rgba(5, 151, 160, 0.15);
}

.section-content .flower .green {
    background: rgba(71, 125, 17, 0.15);
}

.section-content .flower p {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    /* 145.833% */
    text-decoration-line: underline;
    margin-top: 16px;
}

.icon-section {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 0 120px 130px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.icon-container {
    padding: 90px 0;
    text-align: center;
}

.icon-text {
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    margin-top: 24px;
}

.hot-deal-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
}

#hot-deal .hot-deal-text {
    width: 75%;
    max-width: 450px;
    text-align: center;
}

#hot-deal .hot-deal-text h2 {
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
    
}
#hot-deal .hot-deal-text p{
    margin-bottom: 24px;
}
#hot-deal .hot-deal-text button{
    margin-bottom: 24px;
}
#hot-deal .hot-deal-img{
    max-width: 318px;
}
#hot-deal .hot-deal-text h2 .imp{
    color: #E55473;
font-family: Lato;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.instagram-section{
    margin: 0 0 130px 0;
}
.image-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 120px;
    margin-top: 50px;
    
}

.image-container img{
    width: 250px;
}
#newslatter{
    margin: 128px 0;
}
.newslatter-main{
    background: url("images/newslatter.png");
    padding: 122px 0;
}
#newslatter form{
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    gap: 10px;
}
#newslatter form input{
   flex-grow: 1;border: none;
   border-radius: 5px;
   padding: 10px;
   font-size: 15px;
   outline: none;
}
footer{
    background: #111010;
    padding: 128px 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    
}
.footer-text{
    color: #FFF;
}
.footer-heading{
    color: #FFF;
    font-size: 48px;
    margin-bottom: 30px;
}
.footer-paragraph{
    color: rgba(255, 255, 255, 0.90);
    line-height: 30px;
    margin-bottom: 35px;
}
.footer-rights{
    color: rgba(255, 255, 255, 0.40);
}
.primary-color{
    color: #E55473;
}